/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap'); */

.title-container {
    color: #5f85e7;
    text-shadow: #193038 1px 0px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    display: flex;
    z-index: 60;
}

.chltitle {
    font-family: "Roboto Slab", serif;
    font-size: 2.8vh;
    position: absolute;
    top: 1px;
    right: 1px;
    letter-spacing: 0.1vh;
}

.bttitle {
    position: relative;
    left: 0;
    font-family: "Oxanium", serif;
    font-size: 2.8vh;
    font-style: italic;
    z-index: 15;
    letter-spacing: -0.1vh;
}