@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.title-container {
    color: red;
    text-shadow: transparent 1px 0px 0px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    display: flex;
    justify-content: space-between;
    z-index: 6;
}

.chltitle {
    font-family: "Roboto Slab", serif;
    font-size: 3.0vh;
    font-weight: 800;
    position: absolute;
    right: 1px;
    letter-spacing: 0.1vh;
}

.bttitle {
    font-family: "Oxanium", sans-serif;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    left: 0;
    font-size: 5.0vh;
    z-index: 15;
    letter-spacing: -0.1vh;
}