@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Nanum+Gothic+Coding&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

.title-container {
    color: #60b7ea;
    text-shadow: #99068d 1px 0px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    display: flex;
    /* justify-content: space-between; */
    z-index: 9;
}

.chltitle {
    font-family: "Roboto Slab", serif;
    font-size: 2.8vh;
    position: absolute;
    top: 1px;
    right: 1px;
    letter-spacing: 0.1vh;
}

.bttitle {
    position: relative;
    left: 0;
    font-family: "Oxanium", serif;
    font-size: 2.8vh;
    font-style: italic;
    z-index: 15;
    letter-spacing: -0.1vh;
}