@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

.Lmotto {
    font-family: "Cinzel", serif;
    /* font-optical-sizing: auto;
    font-style: normal; */
    color: rgba(21, 21, 17, 0.877);
    font-size: 0.01vh;
    letter-spacing: 0.1rem;
    text-align: center;
    width: 100%;
    background-color: #f2f2f0;
}