@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-y: auto;
    animation: colorFade 45s infinite;
    transition: background-color 5s ease;
}

@keyframes colorFade {
    0% {
        background-color: rgb(242, 235, 235);
    }

    14% {
        background-color: rgb(224, 237, 193);
    }

    28% {
        background-color: rgb(242, 242, 221);
    }

    42% {
        background-color: rgb(227, 208, 210);
    }

    57% {
        background-color: rgb(229, 229, 249);
    }

    71% {
        background-color: rgb(233, 218, 243);
    }

    85% {
        background-color: rgb(239, 215, 239);
    }

    100% {
        background-color: rgb(252, 243, 243);
    }
}

.full-page-image,
.full-page-image2,
.full-page-image3 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: center;
    pointer-events: none;

}

.full-page-image {
    background-size: 22vw 18vw;
    opacity: 0.15;
    z-index: 5;
}

.full-page-image2 {
    background-size: 21vw 17vw;
    opacity: 0.1;
    z-index: 4;
}

.full-page-image3 {
    background-size: 20vw 16vw;
    opacity: 0.1;
    z-index: 3;
}

.Lmotto {
    position: absolute;
    /* top: 1px; */
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(150, 118, 29, 0.877);
    font-size: 1.3vh;
    letter-spacing: 0.5vh;
    text-align: center;
    width: 100%;
    background-color: #eadfc2;
}

.Lheader {
    position: relative;
    top: 0px;
    color: #3668a4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c7edc7;
    line-height: 0px;
}

.Lchltitle {
    position: relative;
    left: 5px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 2.8vh;
    letter-spacing: 0.2vh;
}

.Ldate {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 3.0vh;
    letter-spacing: 0.3vh;
}

.Lbttitle {
    font-family: "Oxanium", sans-serif;
    color: #1e044e;
    text-shadow: #bb1a1a 2px 0vh 0px, #b6e548 -2px -0.0vh 0px;
    font-size: 9vh;
    line-height: 9.2vh;
    text-align: center;
    font-style: italic;
    letter-spacing: -0.5vh;
}

.Lbt_newclockeveryday {
    position: relative;
    top: -1vh;
    font-family: "Noto Sans", sans-serif;
    font-size: 2vh;
    line-height: 2vh;
    font-weight: lighter;
    color: #396b46;
    letter-spacing: 0.1vh;
    text-align: center;
    font-style: italic;
    background-color: #e3e6eb;
}

.no-dots {
    list-style-type: none;
    color: #412c2c;
    font-family: "Noto Sans", sans-serif;
    text-align: left;
    padding: -20;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
    background-color: rgb(188, 192, 191);
}


.date {
    position: relative;
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 3vh;
    letter-spacing: 0.3vh;

}

.label-text {
    position: relative;
    font-size: 3vh;
    letter-spacing: 0.05vh;
}

.copyright {
    position: absolute;
    bottom: -0.1rem;
    right: 0.1rem;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.5rem;
    line-height: 0.6rem;
    color: rgb(196, 191, 191);
    text-align: right;
    /* margin-top: 4vh; */
}