@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

.Lmotto {
    font-family: "Cinzel", serif;
    /* font-optical-sizing: auto;
    font-style: normal; */
    color: rgba(209, 209, 104, 0.877);
    font-size: 0.01vh;
    letter-spacing: 0.1rem;
    text-align: center;
    width: 100%;
    background-color: #f2f2f0;
}


.Lchltitle {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #6e8172;
    font-size: clamp(0.7rem, 2vw, 1rem);
    letter-spacing: 0.05rem;
    background-color: #f5f9f5;
    padding: 0.1rem;
}


.Lbttitle {
    font-family: "Oxanium", sans-serif;
    color: #1e044e;
    text-shadow: #bb1a1a 2px 0 0, #b6e548 -2px 0 0;
    /* font-size: clamp(2rem, 3vh, 3.0rem); */
    /* line-height: 1.2; */
    font-size: 0.1vh;
    text-align: center;
    font-style: italic;
    letter-spacing: -0.1rem;
}

.Lbt_newclockeveryday {
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(0.6rem, 1.0vh, 0.8rem);
    line-height: 0.3rem;
    color: #68806f;
    letter-spacing: 0.01rem;
    text-align: center;
    font-style: italic;
    background-color: #fdfefe;
    padding: 0.3rem;
}

.copyright {
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(0.4rem, 1vw, 0.6rem);
    line-height: 1;
    color: rgb(118, 115, 115);
    text-align: right;
    padding: 0.3rem 0.5rem;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ecdaea;
    background-color: rgb(34, 2, 20);
    text-decoration: none;
}

.clock-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul.clock-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.clock-list-item {
    display: flex;
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    border-top: 0.3vh dotted #0b1803;
}

.clock-title {
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(1rem, 2.0vh, 1.2rem);
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow-wrap: break-word;
    text-align: left;
}

.clock-date {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: clamp(1rem, 2.0vh, 1.2rem);
    margin-left: auto;
    white-space: nowrap;
    text-align: right;
}

/* RESPONSIVE STACKING FOR MOBILE */

@media (max-width: 600px) {
    .Lheader {
        flex-direction: column;
        align-items: flex-start;
    }

    .clock-list-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .clock-date {
        /* margin-left: 0;
        margin-top: 0.3rem; */
        align-self: flex-end;
        text-align: right;
    }
}