 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     transition: background-color 2s;

 }

 .clock {
     position: relative;
     width: 50vmin;
     height: 50vmin;

 }

 .hand {
     position: absolute;
     bottom: 50%;
     left: 50%;
     transform-origin: bottom;
     transform: translateX(-50%) rotate(0deg);
     z-index: 2;
 }

 .second {
     width: 3vmin;
     height: 200%;
     background: red;
     transition: background-color 1s;
     z-index: 5;
 }

 .minute {
     width: 8vmin;
     height: 92%;
     background: green;
     transition: background-color 1s;
     z-index: 4;
 }

 .hour {
     width: 11vmin;
     height: 50%;
     background: blue;
     transition: background-color 1s;
     z-index: 3;
 }

 .dot {
     position: absolute;
     width: 3vw;
     height: 3vw;
     transition: background-color 1s;
     z-index: 1;
 }

 .square {
     position: absolute;
     width: 7vw;
     height: 7vw;
     top: calc(50% + (calc(50vh - 9vh) * cos(var(--angle))));
     left: calc(50% + (calc(50vw - 7vw) * sin(var(--angle))));
     transform: translate(-50%, -50%);
     background-color: #3498db;
     transition: background-color 1s;
     z-index: 2;
 }

 .hidden {
     visibility: hidden;
 }